Repository pyTooling/pyTooling, pull requests merged in 2024-09, with the labels that each got.

#135 v6.6.0
  .github/pull_request_template.md
  .github/workflows/Pipeline.yml
  dist/requirements.txt
  doc/Dependency.rst
  doc/Glossary.rst
  doc/Installation.rst
  doc/Packaging.rst
  doc/_static/css/override.css
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
  pyTooling/Common/__init__.py
  pyTooling/Decorators/__init__.py
  pyTooling/Graph/__init__.py
  pyTooling/MetaClasses/__init__.py
  pyTooling/Packaging/__init__.py
  pyTooling/Platform/__init__.py
  pyproject.toml
  run.ps1
  setup.py
  tests/data/Requirements/requirements.Documentation.txt
  tests/pyPackage/README.ascii
  tests/pyPackage/README.md
  tests/pyPackage/README.rst
  tests/pyPackage/README.txt
  tests/requirements.txt
  tests/unit/Packaging/__init__.py
  tests/unit/Platform/__init__.py
  tests/unit/requirements.txt
Labels: bug, Documentation, Enhancement, Graph, Platform, Packaging

#156 FreeBSD compatibility patch
  pyTooling/TerminalUI/__init__.py
Labels: Terminal

#158 v6.6.2
  .github/workflows/Benchmark.yml
  .github/workflows/Performance.yml
  doc/Dependency.rst
  doc/Installation.rst
  doc/Packaging.rst
  doc/requirements.txt
  pyTooling/Common/__init__.py
  pyproject.toml
  tests/unit/Attributes/ArgParse.py
  tests/unit/Attributes/PredefinedAttributes.py
  tests/unit/CLIAbstraction/Argument.py
  tests/unit/CLIAbstraction/Environment.py
  tests/unit/CLIAbstraction/Examples.py
  tests/unit/CLIAbstraction/Executable.py
  tests/unit/CLIAbstraction/Program.py
  tests/unit/CallByRef/CallByRef.py
  tests/unit/Graph/__init__.py
  tests/unit/Tree/__init__.py
Labels: Unit Tests, CLIAbstraction, Quality: Test

#159 v6.7.0
  .github/workflows/Pipeline.yml
  doc/Dependency.rst
  doc/Installation.rst
  pyTooling/Attributes/ArgParse/ValuedFlag.py
  pyTooling/Common/__init__.py
  pyTooling/Platform/__init__.py
  pyTooling/TerminalUI/__init__.py
  run.ps1
  tests/unit/Attributes/ArgParse.py
  tests/unit/Exceptions/Exceptions.py
  tests/unit/Platform/__init__.py
  tests/unit/TerminalUI/Terminal.py
Labels: Terminal, ArgParse
